.about-me-box {
    display: flex;
    gap: 1.5rem;
    padding: 1.25rem;
    width: 50%;
    max-width: 600px;
    margin: 2rem auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #fff;
}

.pfp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(202, 202, 202, 0.73);
    filter: brightness(0.9);
    flex-shrink: 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.top-line {
    display: flex;
    justify-content: space-between;
}

.name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.icons {
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: invert();
    text-decoration: none;
}

.location {
    margin: 0.3rem 0 0;
    font-size: 1rem;
    color: #aaa;
}

.social-icons a {
  text-decoration: none;  
  display: inline-block;   
}